
div{
    color: rgb(255, 255, 255);
    background-color:#0D47A1;
}
a{
    color: rgb(255, 255, 255);

}

.button {
    font-size: 18px;
    height: 70%;
    width: 40%;
    background-color: #0D47A1;
    border-radius: 50px;
    border: 0px;
    border-color: #0D47A1;
    text-align: center;
    color: white;
}